params: <%= params.inspect %><br/>
@params: <%= @params.inspect %>

<%= link_to "test", form_path(page_params.merge({test_param: "test"})) %>

<div data-controller="example">
  <button name="button" type="button" data-action="click->example#toggle">Click</button>
  <% if @flag == true %>
    <span>FLAG IS ON WITH <%= params.inspect %></span>
  <% end %>
</div>